<div id="home">
  <section id="what-it-does">
    <header>
      <hgroup>
        <h1>Hello there!</h1>
        <h2>Welcome to Checkr. Checkr is a free web-app that lets you to do the following below:</h2>
      </hgroup>
    </header>

    <hr />

    <ol>
      <li>
        <h1><strong>Add</strong> Lists</h1>
        <p>Create as many lists as you want.</p>
      </li>

      <li>
        <h1><strong>Check</strong> Lists</h1>
        <p>When your lists and items are ready, you can start checking them</p>
      </li>

      <li>
        <h1><strong>Share</strong> Lists</h1>
        <p>Share your lists with everyone or if you prefer, keep them private.</p>
      </li>
    </ol>
  </section>

  <section id="use-it-anywhere">

  </section>

  <section id="signup">

  </section>
</div>