/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require icons
 *= require_self
*/

/* variables */

$grey:  #eee;
$green: #b4c596;
$red:   #eb6464;
$dark:  #404a52;

/* mixins */

@mixin border-box { 
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

@mixin transition($attr) {
  -moz-transition:    $attr ease;
  -webkit-transition: $attr ease;
  -ms-transition:     $attr ease;
  -o-transition:      $attr ease;
  transition:         $attr ease;
}

:focus { outline: 0; }

body { background: #fff; font: 300 16px/24px roboto, "helvetica neue", helvetica, arial, sans-serif; color: $dark; }
hr   { margin: -1px 0; border: 1px solid $grey; border-color: $grey white white white; }
p    { margin: 1.5em 0; padding: 0 0.75em; font-size: 1em; line-height: 1.5em; }
dl   { margin: 1.5em 0; overflow: hidden; }
dt   { padding: 0 0.75em; font-weight: 400; @include border-box; }
dd   { padding: 0 0.75em; @include border-box; }
ul   { overflow: hidden; }
a { 
  text-decoration: none; color: inherit; @include transition(color .5s);

  &.cta:hover  { color: $green; }
  &.warn:hover { color: $red; }
}
small  { font-size: 0.75em; line-height: 2em; }
i      { font-style: italic; }
legend { display: none; }
label  { 
  display: none;
  &.show-label { display: inline-block; }
}
fieldset {
  li { 
    padding: .75em;

    small { text-align: center; color: lighten($dark, 20%); display: block; }
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea { font: 300 .875em/2.5725em roboto, "helvetica neue", helvetica, arial, sans-serif; width: 100%;
           height: 2.5725em; margin: 0; padding: 0; border: 1px solid $grey; border-radius: 4px; text-align: center; 
           display: block; @include border-box; }

input[type="checkbox"] { margin: 0.375em 0 0; }

textarea { 
  height: 7.7175em; resize: none; line-height: 1.715em; 

  &:focus { text-align: left; }
}


header[role="banner"] {
  background-color: $dark; color: #fff; overflow: hidden;

  h1 { margin: .75em 0; padding: 0 0 0 .375em; font: 2em/1.5em satisfy, "helvetica neue", helvetica, arial, sans-serif; 
       text-align: left; float: left; @include border-box; }

  nav {
    float: right;

    ol { overflow: hidden; }
    li { margin: 0 2px 0 0; float: left; }
    a { 
      margin: 1.8125em 0; padding: .375em; border: 1px solid darken($dark, 10%); border-radius: 4px;
      box-shadow: inset 1px 1px 0 lighten($dark, 5%), inset -1px -1px 0 lighten($dark, 5%); display: block; 
      overflow: hidden; @include border-box; @include transition((background-color .5s, border-color .5s, box-shadow .5s));

      &:hover { background-color: lighten($dark, 10%); border-color: darken($dark, 20%); 
                box-shadow: inset 1px 1px 0 lighten($dark, 5%), inset -1px -1px 0 lighten($dark, 5%), 
                inset 0 0 10px darken($dark, 5%), 0 1px 3px darken($dark, 10%); }
    }
    .icon { width: 1.5em; text-align: center; }
  }
}

section {
  header {
    overflow: hidden;

    h1 { margin: 0.75em 0; padding: 0 0.375em; font-size: 2em; line-height: 1.5em; float: left; }
    p  { margin: -1.08333em 0 0; padding: 0 1em; font-size: 0.75em; line-height: 2em; color: lighten($dark, 20%);
         float: left; clear: left; }
    #list-count { 
      margin: 1.5em 0; line-height: 3em; float: left; overflow: hidden;

      span { font-size: 0.75em; line-height: 2em; width: 2em; margin: 1em .33333em 1em 0; 
             background-color: $grey; border-radius: 50%; text-align: center; float: left; }
    }
  }
}

article {
  overflow: hidden; position: relative;

  form { margin: .5em 0; float: left; }

  header {
    h1 { margin: 1em 0 0; padding: 0 0.5em; font-size: 1.5em; line-height: 2em; font-weight: 300; text-align: left;
         float: none; }
    p  { margin: 0; }
  }

  .item-details { 
    h1 { margin: .5em 0; padding: 0 .5em; font-size: 1.5em; line-height: 2em; }
  }

  .admin {  
    width: 5em; height: 100%; background-color: $grey; opacity: .2; position: absolute; top: 0; right: 0;
    @include transition(opacity .5s);

    &:hover { opacity: .8; }

    ul    { margin: .75em 0; }
    li    { padding: 0 1em; font-size: 0.75em; line-height: 2em; }
    .icon { margin-right: 4px; }
  }
}

footer[role="contentinfo"] {
  background-color: $dark; overflow: hidden;

  p { margin: 2em 0; padding: 0 1em; font-size: 0.75em; line-height: 2em; text-align: right; color: $grey; }
}

.hide-mobile { display: none; }

.btn { 
  margin: .875em 0; padding: 0 .875em; 
  font: 500 .875em/2.57143em roboto, "helvetica neue", helvetica, arial, sans-serif; height: 2.57143em; 
  background-color: $grey; border: 1px solid darken($grey, 10%); border-radius: 4px; 
  box-shadow: inset 0 1px 0 lighten($grey, 10%); text-shadow: 0 -1px 0 lighten($grey, 10%); text-decoration: none; 
  color: darken($grey, 50%); cursor: pointer; display: inline-block; @include border-box;
  @include transition((color .5s, border-color .5s));

  &:hover { border-color: darken($grey, 20%); color: darken($grey, 70%); }
  &.pad { margin-right: .4286em; margin-left: .4286em; }
}

.btn-lrg { 
  margin: .75em 0; padding: 0 .75em; font-size: 1em; line-height: 3em; height: 3em; 

  &.pad { margin-right: .75em; margin-left: .75em; }
}

.btn-cta  { 
  background-color: $green; border-color: darken($green, 10%); box-shadow: inset 0 1px 0 lighten($green, 10%);
  text-shadow: 0 1px 0 darken($green, 10%); color: lighten($green, 50%);

  &:hover { border-color: darken($green, 20%); color: lighten($green, 70%); }
}

.btn-warn { 
  background-color: $red; border-color: darken($red, 10%); box-shadow: inset 0 1px 0 lighten($red, 10%);
  text-shadow: 0 1px 0 darken($red, 10%); color: lighten($red, 50%);

  &:hover { border-color: darken($red, 20%); color: lighten($red, 70%); }
}

.btn-link { margin: 1.5em .375em; font-size: 2em; line-height: 1.5em; width: 1.5em; background-color: $grey; 
            border-radius: 50%; text-align: center; color: #fff; float: left; }