@font-face {
  font-family: 'checkr';
  src: url(font-path('checkr.eot'));
  src: url(font-path('checkr.svg') + '#checkr') format('svg'),
       url(font-path('checkr.eot') + '?#iefix') format('embedded-opentype'),
       url(font-path('checkr.woff')) format('woff'),
       url(font-path('checkr.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon { font-family: 'checkr'; speak: none; float: left; -webkit-font-smoothing: antialiased; }

.icon-list:before {
  content: "\e000";
}
.icon-account:before {
  content: "\e001";
}
.icon-login:before {
  content: "\e002";
}
.icon-logout:before {
  content: "\e003";
}
.icon-warn:before {
  content: "\e004";
}
.icon-edit:before {
  content: "\e005";
}
.icon-private:before {
  content: "\e006";
}
.icon-cta:before {
  content: "\e007";
}
